@model (IList<App.Models.Accounting.VatCalculationModel> List, App.Services.Common.Pdf.HtmlPdfItem Item);
@inject App.Services.Localization.ILocalizationService _localizationService;
@inject App.Services.Helpers.IDateTimeHelper _dateTimeHelper;
@inject App.Services.Common.IPriceFormatter _priceFormatter;

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <style>
        html {
            font-size: 12px;
            font-family: 'DejaVu Sans', 'Arial', sans-serif;
        }

        table {
            width: 100%;
            border: 1px solid #e0e0e0;
            border-collapse: collapse;
        }

            table tr th {
                background-color: #f5f5f5;
                text-align: left;
                padding: 5px;
            }

            table tr,
            table tr td,
            table tr th {
                border: 1px solid #e0e0e0;
                border-collapse: collapse;
                padding: 5px;
            }
    </style>

</head>

<body>
    @{ var i = 0; }

    <p style="text-align: right;">
        <div>@((await _dateTimeHelper.ConvertToUserTimeAsync(DateTime.Now)).ToString("dd/MM/yyyy"))</div>
    </p>

    <p>
        <span style="font-size: 16px;">@Model.Item.Title</span>
    </p>

    <br />

    <table>
        <thead>
            <tr style="background-color: white;">
                <td colspan="8">
                    <div style="font-size: 14px;">@Model.Item.SubTitle</div>
                </td>
            </tr>
            <tr>
                <th>@(await _localizationService.GetResourceAsync("App.Models.VatCalculationModel.Columns.Period"))</th>
                <th>@(await _localizationService.GetResourceAsync("App.Models.VatCalculationModel.Columns.Sales"))</th>
                <th>@(await _localizationService.GetResourceAsync("App.Models.VatCalculationModel.Columns.Purchases"))</th>
                <th>@(await _localizationService.GetResourceAsync("App.Models.VatCalculationModel.Columns.CreditBalance"))</th>
                <th>@(await _localizationService.GetResourceAsync("App.Models.VatCalculationModel.Columns.NewBalance"))</th>
                <th>@(await _localizationService.GetResourceAsync("App.Models.VatCalculationModel.Columns.ToPay"))</th>
                <th>@(await _localizationService.GetResourceAsync("App.Models.VatCalculationModel.Columns.InTransfer"))</th>
                <th>@(await _localizationService.GetResourceAsync("App.Models.VatCalculationModel.Columns.ToReturn"))</th>
            </tr>
        </thead>
        <tbody style="margin-top:2rem;">
            @foreach (var item in Model.List)
            {
<tr>
    <td style="text-align:right;">@item.Period</td>
    <td style="text-align:right;">@(await _priceFormatter.FormatDecimalAsync(item.Sales))</td>
    <td style="text-align:right;">@(await _priceFormatter.FormatDecimalAsync(item.Purchases))</td>
    <td style="text-align:right;">@(await _priceFormatter.FormatDecimalAsync(item.CreditBalance))</td>
    <td style="text-align:right;">@(await _priceFormatter.FormatDecimalAsync(item.NewBalance))</td>
    <td style="text-align:right;">@(await _priceFormatter.FormatDecimalAsync(item.ToPay))</td>
    <td style="text-align:right;">@(await _priceFormatter.FormatDecimalAsync(item.InTransfer))</td>
    <td style="text-align:right;">@(await _priceFormatter.FormatDecimalAsync(item.ToReturn))</td>
</tr>
 if (Model.List.Count() - 1 > i)
{
    <span style="display:block; clear:both; page-break-after:always;"></span>
}
i++;
}
        </tbody>
    </table>

</body>
</html>